/* General Styles */
body {
    background-color: black;
    color: white;
    font-family: 'Rokkitt', serif;
    padding-top: 200px;
}

/* Header Styles */
header {
    background-color: #111111;
    color: #FFC72C;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo-container #logo {
    height: 50px; /* Adjusted for consistency */
    width: auto; /* Maintain aspect ratio */
    margin-top: 0; /* Adjusted margin */
}

.header-nav a, .user-actions a.button {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

a.button {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
}

/* Dropdown Styles */
.dropdown, .sports-dropdown {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #333333;
    border: 1px solid #444;
    padding: 10px;
    text-align-last: center;
    min-width: 200px;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content, .sports-dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .sports-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown:hover .dropdown-content,
.sports-dropdown:hover .sports-dropdown-content {
    display: block;
}

/* Flexbox Odds Grid Styles */
.odds-grid-body {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.header-row {
    position: sticky;
    top: 0;
    z-index: 10; /* Ensure the header row is above other content */
    background-color: #000; /* Set a background color to prevent content from showing through */
}


.header-row, .team-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.header-row > div, .team-row > div {
    flex: 1;
    text-align: center;
    margin: 0 5px;
}

.bookmaker-header, .odds-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 20%; /* Adjusted flex-basis */
}

.bookmaker-headers, .odds-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bookmaker-logo {
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #333;
    box-shadow: 0 0 5px #FEFEFE;
}

.bookmaker-name {
    font-size: 0.8rem;
    color: #FFF;
    text-align: center;
}

.event-container {
    border-bottom: 2px solid #333; /* Adjust the color and thickness as needed */
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.event-container:last-child {
    border-bottom: none; /* Remove the border from the last event container */
}


.odds-value {
    padding: 5px;
    border: 2px solid #444;
    border-radius: 50px;
    margin: 8px;
    box-shadow: 2px 2px 1px #444;
    flex: 1;
    /* If you want some padding around the odds */
}

.best-odds {
    background-color: green; /* Adjust the color as needed */
    color: white; /* Optional: change the text color for better contrast */
}

.point-number {
    color: #FFC72C; /* Yellow color */
    font-weight: bold;
}

.price-number {
    font-size: 0.8rem; /* Adjust the size as needed */
    line-height: 1;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.modal-content label, .modal-content input[type="text"], .modal-content input[type="password"] {
    color: #FFC72C;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px 0;
    }

    .header-nav a, .user-actions a.button, 
    .sports-dropdown, .dropdown {
        margin: 5px;
    }

    .odds-grid-body {
        flex-direction: column;
    }

    .header-row, .team-row {
        flex-direction: column;
    }

    .modal-content {
        width: 90%;
    }
}

