/* General Styles */
body {
    background-color: black;
    color: white;
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding-top: 200px;
}

/* Header Styles */
header {
    background-color: #111111;
    color: #FFC72C;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo-container #logo {
    height: 200px;
    margin-top: 10px;
}


.header-nav a, .user-actions a.button {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

a.button {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
}

/* Dropdown Styles */
.dropdown {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #333333;
    border: 1px solid #444;
    padding: 10px;
    text-align-last: center;
    min-width: 200px;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Styles for sports header link */
.sports-dropdown {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #444444; /* Changed for differentiation */
    border: 1px solid #555; /* Changed for differentiation */
    padding: 10px;
    text-align-last: center;
    min-width: 200px;
    cursor: pointer;
    font-weight: bold;
}
.sports-dropdown-content {
    display: none;
    position: absolute;
    background-color: #444444; /* Changed for differentiation */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.sports-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
.sports-dropdown:hover .sports-dropdown-content {
    display: block;
}

/* Odds Grid Styles */
#odds-grid {
    display: flex;
    overflow-x: auto;
    margin: 20px auto;
}

.event-container, .bookmaker-headers {
    display: flex;
    min-width: 120px;
    align-items: center;
}

.bookmaker-headers {
    font-weight: bold;
    padding-bottom: 10px;
    background: black;
}

.bookmaker-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmaker-logo {
  height: 30px; /* Adjust the size as needed */
  width: auto;
  margin-bottom: 5px; /* Give some space between the logo and the text */
  margin-right: 5px; /* Space between logo and name */
  vertical-align: middle; /* Align with the bookmaker name */
  border: 2px solid #11111; /* Adjust the color and width as needed */
  box-shadow: 0 0 5px #FEFEFE; /* Add a subtle shadow */;
  border-radius: 4px; /* Adjust this value to increase or decrease the roundness */
  padding: 2px; /* Adds some space between the image and the border */
  object-fit: contain; /* Ensures the image is scaled correctly within the border */
  box-sizing: border-box; /* Makes sure the padding and border are included in the total width and height */
  }
}

.bookmaker-name {
  display: block;
  font-size: 0.8rem; /* Smaller font size for bookmaker names */
  color: #FFF; /* Adjust the color as needed */
}


.team-name-container {
    flex-grow: 1;
}

.team-row {
  border-bottom: 2px solid #333; /* This adds the separator line */
  margin-bottom: 15px; /* This adds space between the matchups */
}

/* This will remove the border from the last team-row of each event */
.team-row:last-child {
  border-bottom: none;
}


.odds-container {
    display: flex;
    align-items: center;  
    justify-content: space-around; /* This will evenly separate the odds across the container */
    width: 100%; /* Ensure the container takes up the full width */
}

/* Updates for horizontal layout */
.away-odds-container, .home-odds-container {
    display: flex; /* Make the odds lay out horizontally */
    gap: 20px; /* Evenly space out the odds */
}

.away-odds-container div, .home-odds-container div {
    padding: 0 10px; /* Adjust padding around each column of odds */
    text-align: center; /* Center the odds */
    color: white;
}

/* Add specific style to make the point number the color #FFC72C */
.point-number {
    color: #FFC72C;
    font-weight: bold;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.modal-content label, .modal-content input[type="text"], .modal-content input[type="password"] {
    color: #FFC72C;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .logo-container #logo {
        height: 100px; /* Make logo smaller on mobile */
    }

    header {
        flex-direction: column;
        padding: 20px 0;
    }

    .header-nav a, .user-actions a.button {
        margin: 5px; /* Reduce margin for header links and buttons */
    }

    .sports-dropdown, .dropdown {
        font-size: 14px; /* Adjust font size for better fit */
        margin: 0 5px; /* Adjust margin for dropdowns */
    }

    .event-container, .bookmaker-headers {
        flex-direction: column; /* Stack odds containers vertically */
    }

    .odds-container, .away-odds-container, .home-odds-container {
        flex-direction: column; /* Stack odds containers vertically */
    }

    .modal-content {
        width: 90%; /* Make modal wider on smaller screens */
    }
}

.odds-value {
  padding: 5px; /* Adjust the padding as needed */
  border: 2px solid #444444; /* Gray border */
  border-radius: 10px; /* Adjust the border-radius for more or less rounded corners */
  box-shadow: 2px 2px 5px #888888; /* Light gray shadow */
  margin: 8px; /* Add some space between the odds */
  text-align: center; /* Center the text */
  



.odds-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.header-row th {
  background-color: #333; /* Adjust the color to fit your design
}
  