
/* General Styles */
body {
    background-color: black;
    color: white;
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding-top: 80px;
}

/* Header Styles */
header {
    background-color: #111111;
    color: #FFC72C;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo-container #logo {
    height: 40px;
}

/* Search Bar Styles */
.search-bar {
    display: flex;
    align-items: center;

    & input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #444444;
    }
}

/* User Actions Styles */
.user-actions {
    display: flex;
    align-items: center;
    margin-right: 20px;

    a.button {
        border: 1px solid white;
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 10px;
        text-decoration: none;
        font-weight: bold;
        color: white;
        background-color: #333333;

        &:hover {
            background-color: black;
        }
    }
}

/* Main Banner & CTA Button Styles */
.main-banner,
.cta-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.main-banner {
    background-image: url('https://raw.githubusercontent.com/betversa/BetVersa/main/istockphoto-1297247938-170667a.webp');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 50px 20px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        font-size: 24px;
    }
}

.cta-button {
    background-color: #FFC72C;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;

    &:hover {
        background-color: #e6b800;
    }
}

/* Live Odds Styles */
.odds-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
    margin: 20px auto;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #111111;
}

.games-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 20px;
}

.game-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    min-width: 200px;
    max-width: 200px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;

    label,
    input[type="text"],
    input[type="password"] {
        color: #FFC72C;
        font-weight: bold;
    }
}

/* Dropdown & Button Styles */
.dropdown,
.scroll-btn {
    font-family: 'Rokkitt', serif;
    color: white;
    background-color: #222222;
    border: 1px solid #444444;
    padding: 5px;
    text-align-last: center;
    margin-right: 10px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 20px;
    cursor: pointer;

    .scroll-btn {
        background-color: rgba(0, 0, 0, 0.5);

        &.left {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &.right {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .games-container {
        flex-direction: column;
    }

    .game-container {
        min-width: 100%;
    }
}
